version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kezekshi-dashboard-frontend
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:      
      - ./docker/nginx/certs:/etc/nginx/certs:ro      
      - ./docker/nginx/conf.d/frontend.conf:/etc/nginx/conf.d/frontend.conf:ro
